.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;

  background: var(--blue);
  font-family: 'Rajdhani', 'Roboto', sans-serif;

  text-transform: uppercase;
}

.container a, .container h1, .container h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container > div {
  width: 100%;
  max-width: 720px;
  background: var(--light-blue);
  
  padding: 3.5rem;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container > div > h1 {
  color: var(--yellow);
  font-weight: 700;

  font-size: 5rem;
}

.container > div > h2 {
  color: var(--white);
  font-weight: 600;

  font-size: 3rem;
  margin-top: -1.5rem;
}

.container > nav > ul {
  display: flex;
  flex-direction: column;
}

.container > nav > ul > li {
  color: var(--white);

  font-size: 1.75rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;

  justify-content: center;
}

.container > nav {
  margin-top: 5rem;
}

.container > nav > ul > li:nth-child(n + 2) {
  margin-top: 3.5rem;
}

.container > nav > ul > li:not(.linkActive) a::after {
  display: block;
  content: '';

  width: 100%;
  border-bottom: 2px solid var(--white);

  background: var(--white);
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: scale(0);
  transition: transform .4s;

  transform-origin: left;
}

.container > nav > ul > li:not(.linkActive) a:hover::after {
  transform: scale(1);
}

@media (min-width: 576px) {
  .container > nav > ul {
    display: flex;
    flex-direction: row;
  }

  .container > nav {
    margin-top: 5rem;
  }

  .container > nav > ul > li {
    margin: 0 5rem;
  }
  
  .container > nav > ul > li:nth-child(n + 2) {
    margin-top: 0rem;
  }
}