* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --blue: #41576b;
  --yellow: #F2DE77;

  --white: #fff;
  --light-yellow: #FFFBE5;

  --bg-gray: #F4F4F4;
  --light-blue: #4e6885;

  --red: #fa6f6f;
  --gray: rgb(127, 127, 127);

  --node: #68A063;
  --react: #61DBFB;
  --html: #e34f26;
  --css: #2965f1;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-gray);
  font-family: 'Rajdhani', 'Roboto', sans-serif;

  overflow-x: hidden;
}

input, textarea {
  font-family: 'Rajdhani', 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}